@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #151323;
  --background-box: #1D1A2F;
  --h1: #C77DFF;
  --h2: #9D4EDD;
  --h3: #7B2CBF;
  --button-background: #460B79;
  --white: #ffffff;

  --width-mobile: 375px;
  --width-tablet: 768px;
  --width-desktop: 1024px;
}

/* @keyframes one {
  0% {transform: scale(1);}
  25% {transform: scale(1.32);}
  50% {transform: scale(1.2);}
  75% {transform: scale(1.12);}
  100% {transform: scale(1);}
}

@keyframes two {
  0% {transform: scale(1);}
  25% {transform: scale(0.92);}
  50% {transform: scale(1.12);}
  75% {transform: scale(1.28);}
  100% {transform: scale(1);}
}

@keyframes three {
  0% {transform: scale(1);}
  25% {transform: scale(1.25);}
  50% {transform: scale(1.08);}
  75% {transform: scale(0.92);}
  100% {transform: scale(1);}
} */

/* Landing Page */
.landing-page-position {
  width: 100%;
  height: 100vh;
}

.Information-Title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.information-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;

}

.information-text {
  width: 60%;
}

.information-img {
  width: 40%;
  align-content: center;

}

.Title-sub {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.Title-Name {
  font-size: 4.2rem !important;
  color: var(--h1);
  font-weight: 600 !important;
  font-family: 'Poppins', sans-serif;
  margin-left: 48px;
  margin-bottom: 10px
}

.Title-Status {
  font-size: 2.2rem !important;
  font-weight: 300;
  margin-left: 96px;
  position: static;
}

.animation-text {
  color: var(--h2);

}


/* Contact information */
.contact-info {
  width: 100%;
  height: 25vh;
}

.contact-title {
  text-align: center;
  margin-bottom: 25px;
}

.contact-title h1 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: -10px;
  font-size: 2rem;
}

.contact-title p {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(156, 156, 156);
}

.contact-box {
  margin: 0 auto;
  width: 75%;
  height: 150px;
  background: var(--background-box);
  border-radius: 15px;
  z-index: 1;
}

.contact-icons-position {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-link-box {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-link {
  color: var(--h1);
  transition: 0.4s;
  background-color: var(--background);
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hover-icon {
  transition: 0.4s;
}

.contact-link:hover .hover-icon {
  scale: 110%;
  color: var(--h1);
}

.background-position3 {
  position: absolute;
  margin-top: 120px;
  margin-left: 150px;
  scale: 0.6;
  z-index: -1;
}


/* About Me */
.about-me-position {
  height: 100vh;
  width: 100%;
}

.about-me-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 25px;
}

.about-me-bio {
  width: 60%;
}

.about-me-bio h1 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.about-me-bio p {
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 300;
}

.about-me-profile {
  width: 40%;
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: var(--h1);
  position: relative;
  z-index: 1;
}

.background-position4 {
  position: absolute;
  margin-top: 350px;
  margin-left: 300px;
  scale: 0.8;
  transform: rotate(160deg);
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .information-img img {
    display: none;
  }
}

/* Responsive Tablet */
@media screen and (max-width: 768px) {
  .container-box {
    padding-inline: 50px;
  }

  .contact-box {
    width: 100%;
  }

  .contact-link {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .contact-title h1 {
    margin-bottom: -7.5px;
  }

  .contact-title p {
    font-size: 1rem;
  }

  .contact-info {
    height: 50vh;
  }

  .Title-sub {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .Title-Name {
    font-size: 2rem !important;
    margin-left: 24px;
    margin-bottom: -10px
  }

  .Title-Status {
    font-size: 1.4rem !important;
    margin-left: 48px;
  }


  .about-me-position {
    height: auto;
  }

  .about-me-information {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    gap: 50px;
  }

  .about-me-bio {
    width: 100%;
  }

  .about-me-bio p {
    font-size: 1rem;
  }

  .about-me-profile {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


/* Responsive Mobile */
@media screen and (max-width: 375px) {
  .container-box {
    padding-inline: 20px;
  }

  .Title-sub {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .Title-Name {
    font-size: 2rem !important;
    margin-left: 24px;
    margin-bottom: -10px
  }

  .Title-Status {
    font-size: 1.4rem !important;
    margin-left: 48px;
  }
}