@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #151323;
    --background-box: #1D1A2F;
    --h1: #C77DFF;
    --h2: #9D4EDD;
    --h3: #7B2CBF;
    --button-background: #460B79;
    --white: #ffffff;

    --width-mobile: 375px;
    --width-tablet: 768px;
    --width-desktop: 1024px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.about-me-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-weight: 300;
    width: 65%;
}

.about-me-content h1{
    width: 100%;
    font-family: 'poppins', sans-serif;
    text-align: start;
    font-size: 2.5rem;
    color: var(--h1);
}

.about-me-content p{
  font-size: 1.1rem;
}

.about-me-content h3 {
    width: 100%;
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--h3);
    padding-left: 25px;
    font-style: italic;
}

.about-me-content h3::before {
    content:" ";
    display: block;
    height: 2px;
    border-radius: 100px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--h3);
}

.about-me-photo {
    width: 35%;
    border-radius: 50%;
    object-fit: cover;
}

.about-me2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

/* Skillset */
.skillset {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-languages {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.language-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 18%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-box);
    /* border: black; */
    transition: 0.2s;
}

.language-box:hover {
    /* background-color: black; */
    scale: 1.1;
}

.language-box i {
    font-size: 4rem;
    color: var(--h1);
}

.language-box span {
    font-size: 1.2rem;
    color: var(--white);
}